.img-charlies{
	width: 100%;
}

.phrase{
	font-style: italic;
	text-align: right;
	.text{
		font-size: $cy-font-size-sm;

	}
	.autor{
		font-size: $cy-font-size-xs;

	}
}
/** Estos estilos son para el n +1 cosas sobre mi*/

// Responsive
@mixin responsive() {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

$timeline-width:100%;
$timeline-container-width:100%;

.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: $timeline-width;
  position: relative;
  &__content {
    &__img__tag{
      position: relative;
    }
    &-title {
      position: absolute;
      bottom: -30px;
      font-weight: normal;
      font-size: 66px;
      margin: -10px 0 0 0;
      transition: .4s;
      padding: 0 10px;
      box-sizing: border-box;
    }
    &-desc {
      margin: 0;
      padding-top:10px;
      font-size: 15px;
      box-sizing: border-box;
      font-weight: normal;
      line-height: 25px;
    }
  }
  &:before {
	content: "";
    position: absolute;
    left: 50%;
    width: 3px;
    height: 100%;
    margin-left: -1px;
    opacity: .1;
    background-color:$cy-green-primary;
    @include responsive() {
      left: 40px;
    }
  }
  &-item {
    padding: 40px 0;
    opacity: .3;
    filter: blur(2px);
    transition: .5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
    &:before {
      content: attr(data-text);
      letter-spacing: 3px;
      width: 100%;
      position: absolute;
      color: $cy-white;
      font-size: 13px;
      border-left: 2px solid $cy-green-secondary;
      top: 70%;
      margin-top: -5px;
      padding-left: 15px;
    //   opacity: 0;
      right: calc(-100% - 40px);
    }
    &:nth-child(even) {
      align-self: flex-end;
      &:before {
        right: auto;
        text-align: right;
        left: calc(-100% - 40px);
        padding-left: 0;
        border-left: none;
        border-right: 2px solid $cy-green-secondary;
        padding-right: 15px;
      }
    }
    &--active {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0px);
      &:before {
        top: 50%;
        transition: .3s all .2s;
        opacity: 1;
      }
      .timeline__content-title {
        margin: -50px 0 20px 0;
      }
    }
    @include responsive() {
      align-self: baseline !important;
      width: 100%;
      padding: 0 0 150px 80px;
      &:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
      }
      &:last-child {
        padding-bottom: 40px;
      }
    }
  }
  &__img {

    max-width: 100%;
    // box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
	box-shadow: -5px 5px 10px rgba(147, 234, 30, 0.14);
	border-radius: $cy-border-radius-5 / 2;
  }
  &-container {
    width: $timeline-container-width;
    position: relative;
    padding: 80px 0;
    transition: .3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
  }

}
