// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

.cy-card {
  float: left;
  width: 100%;
  position:relative;
  transition: transform .5s;
  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $cy-white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    min-height: 300px;
    position: relative;
    overflow: hidden;
    &:hover {
      .data {
        opacity:.7;
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    background-color:$cy-green-strong;
    opacity:8;
    top:10%;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 12px;
  }
  .title {
    margin-top: 10px;
  }
  .text {
    height: 70px;
    margin: 0;
  }
  // input[type='checkbox'] {
  //   display: none;
  // }
  // input[type='checkbox']:checked + .menu-content {
  //   transform: translateY(-60px);
  // }

  // &.cy-card-style-2{
      .header {
        padding: 1em;
        z-index: 9;
        text-align: center;
        width: 100%;
        position: absolute;
      }
      &__content{
        position:absolute;
        top:0;
        left:0;
        padding:1em;
        background-color:hsla(126, 49%, 46%, 0.7);
        width:100%;
        height:100%;
        color:white;
        display:flex;
        flex-direction:column;
        justify-content:center;
        text-align:center;
        transform: translate(150%,50%) scale(2) rotate(180deg);
        transition:inherit;
      }
      &__title{
      margin:0;
      }


      &:hover{
        .cy-card__content{
          transform:translateX(0);
        }

        .cy-card__img {
          transform: scale(1.5) rotate(10deg);
        }
      }

// }
}


// Second example styles
.cy-card-style-1{
  .wrapper {
    // background: url(../../../assets/img/charlies.png) center / cover no-repeat;
    // background-image: url(../../../assets/img/foto3.jpg);
    // background-size: center;
    // background-position: center;
    // background-repeat: no-repeat;
    transition: all 0.25s ease-in-out;
    filter: saturate(0%);
    // filter: brightness(0%);

    &:hover {
      // background-size: 105%;
      filter: saturate(100%);
      // filter: brightness(100%)

      .menu-content {
        span {
          transform: translate(-50%, -10px);
          opacity: 1;
        }
      }
    }
  }
  .header {
    @include cf;
    color: $cy-white;
    padding: 1em;
    z-index: 9;
    text-align: center;
    width: 100%;
    position: absolute;
    font-size:$cy-font-size-xs;
  }
  .menu-content {
    float: right;
    li {
      margin: 0 5px;
      position: relative;
    }
    span {
      transition: all 0.3s;
      opacity: 0;
    }
  }
  .data {
    color: $cy-white;
    transform: translateY(100%);
  }
  .title {
    a {
      color: $cy-white;
    }
  }

}

.button {
  display: block;
  width: 100px;
  margin: 1em auto 1em;
  text-align: center;
  font-size: 12px;
  color: $cy-white;
  line-height: 1;
  position: relative;
  font-weight: 700;
  text-decoration:none;
  &::after {
    content: '\2192';
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s;
  }
  &:hover {
    text-decoration:none;
    &::after {
      transform: translate(5px, -50%);
      opacity: 1;
    }
  }
}


