  .footer {
    background-color: $cy-green-strong;
  }
  .contact-container{}
  .contact-item{
    display: flex;
    align-items: center;
    margin-top:10px;
  }
  .contact-icon{
      width: 40px;
      height: 40px;
      background: $cy-green-tertiary;
    border-radius: $cy-border-radius-circle;
      text-align: center;
      margin: 0 10px 0 10px;
  }

  .contact-tag-name{
    color: $cy-green-primary;
    font-size: $cy-font-size-sm;
    font-weight: $font-weight-200;
    font-family: Roboto-Light;

  }
  .contact-tag-value{
    font-size: $cy-font-size-md;
    font-family: Roboto-Regular;
  }
  .network-icon{
    padding: 0px 20px 0px 20px;

  }


  .cy-form-row{
    padding-top:15px;

    & label{
      font-size: $cy-font-size-xs;
    }
  }
  .cy-form-control {
    width: -webkit-fill-available;
    height: 30px;
    display: block;
    padding: 30px 10px !important;
    color: $cy-green-primary;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid $cy-green-primary;
    border-radius: $cy-border-radius-10;

    &#message{
      height: auto;
    }
    // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.

    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
      background-color: transparent;
      border: 0;
    }
    // Placeholder
    &::placeholder {
      color:  #ffffff82;
      opacity: 1;
    }

    &:disabled,
    &[readonly] {
      background-color: grey;
      opacity: 1;
    }

  }

  select.cy-form-control {
    &:focus::-ms-value {

      background-color: green;
    }
  }

  // Make file inputs better match text inputs by forcing them to new lines.
  .cy-form-control-file,
  .cy-form-control-range {
    display: block;
    width: 100%;
  }


  //
  // Labels
  //

  // For use with horizontal and inline forms, when you need the label (or legend)
  // text to align with the form controls.
  .cy-col-form-label {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0; // Override the `<label>/<legend>` default
  //   line-height: $input-line-height;
  }


  .cy-copyright{
    font-size: $cy-font-size-sm;
    // font-family: Roboto-Regular;
  }
  .cy-span-credit{
    font-size: 8px;
    padding-left: 10px;
  }
  .cy-toast{
    // padding: 5px;
    // margin: 5px;
    width: 100%;
    text-align: justify;
    color:$cy-green-primary;
  }
  .cy-credits{
    // overflow-x: scroll;

    ul{
      display: flex;
      list-style: none;
      padding: 0 5px;
      margin: 0;
      white-space: nowrap;
      li{
        padding: 0 5px;
        line-height: 2.0;
        font-size: 8px;
        span{
          padding-right: 5px;
        }
      }
    }

  }
  @media screen and (max-width: 767px) {
    .cy-credits{
      overflow-x: scroll;
    }
  }
  @media screen and (min-width: 768px) {
    .cy-credits{
      overflow-x: scroll;
    }
    ::-webkit-scrollbar {
      width: 0;     /* Tamaño del scroll en vertical */
      height:1px;    /* Tamaño del scroll en horizontal */
    }
  }

  .cy-label-error{
    color: #D9272E;
    padding: 5px;
    font-size: 12px;
  }
