
.main-container{
	width: 100vw;
	height: 100vh;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		top:0;
		left:0;
		width: inherit;
		height: inherit;
		background-image: url('../../../assets/img/bakgroundCY.png');
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
		opacity: .1;
	}
}
.image-container{
    display: flex;
    justify-content: center;
    img {
        width: -webkit-fill-available;
        z-index: -9;
    }
}

.dots-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    &:after{
        content: "";
        position: absolute;
        width: inherit;
        height: inherit;
        background-image: url('../../../assets/img/grid-square.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        position: absolute;
        z-index: -1;
    }
}

.hello{
    color: $cy-green-primary;
    padding: 10px;
    background:$cy-green-tertiary;
    border-radius: 5px;
    position: relative;
    &:after{
        content: "";
        content: "";
        position: absolute;
        left: 5px;
        top: 35px;
        width: 0;
        height: 0;
        background: transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid $cy-green-tertiary;
    }
}


.charlies-yacniel{
    font-size: 50px;
    font-family: JetBrainsMono-ExtraBold-Italic;
}

@media only screen and (max-width: $breakpoint-small) {
  .charlies-yacniel{
    font-size: 50px;
}
}

.profesion{
    font-size: 21px;
    padding: 0px 0px 10px 0px;
}
.cv{
    padding: 0px 0px 10px 0px;
    z-index: 9;
}

//
.button-down{
    width: 40px;
    background: transparent;
    border: 1px solid $cy-green-primary;
    border-radius: 30px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow-down{
        width: 2px;
        height: 35px;
        background-color: $cy-green-primary;
    }
}
//===== estilos de  boton desplazate
.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  fill:$cy-green-primary;
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform;
}
.mouse {
  max-width: 2.5rem;
  width:30px;
  height: auto;
  // &rect{
  stroke: $cy-green-primary ;
  // }
}

@keyframes scroll {
  0%, 20% {
    transform: translateY(0) scaleY(1);
    }
  10% {
  opacity: 1;
  }
  100% {
  transform: translateY(36px) scaleY(2);
  opacity: 0.01;
  }
}
