
/* cy-modal */

.cy-modal{
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;

  // transform: scale(1);
  // opacity:1;
  // transition: opacity .5s cubic-bezier(0.83, 0.04, 0, 1.16) ,transform 1s ease-in-out .5s;;
  // &:active{
  //   opacity:.7;
  //   transform: scale(.01);
  // }

}

// .cy-modal:target{
//   display: flex;
//   // z-index: 999;
// }
#cy-modal-article:target{
  display: flex;
}

.cy-modal:before{// div
  content: "";
  box-sizing: border-box;
  width: 100%;
  // background-color: $cy-green-strong;
  background-color: $cy-black;
  position: fixed;
  left: -3px;
  top: 50%;
  will-change: height, top;
  animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
}


.cy-modal:after{//linea
  content: "";
  width: 0;
  height: 2px;
  background-color: $cy-green-primary;
  will-change: width, opacity;
  animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}


.cy-modal-close {// div
  width: 100vw;
  height: 100vh;

  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  animation-name: cy-animation-display;
  animation-timing-function: ease-in-out;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  .cy-container-close,
  .cy-modal__block{
    will-change: opacity;
    animation: cy-animation-fade-out .5s ease-out both;
  }
}

.cy-modal-close:before{// div
  content: "";
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  background-color: $cy-green-strong;
  // background-color: $cy-black;
  position: fixed;
  left: 0;
  top: 0;
  will-change: height, width,top,background-color;
  animation-name: close-animation;
  animation-timing-function: ease-in-out;
  animation-duration: .3s;
  animation-delay: .6s;
  animation-fill-mode: forwards;
}

.cy-align-items-center{
  img{
    height: 100%;
  }
}


@keyframes line-animation{
  0%{
    width: 0;
    opacity: 1;
  }

  99%{
    width: 100%;
    opacity: 1;
  }

  100%{
    width: 100%;
    opacity: 0;
  }
}

@keyframes open-animation{
  0%{
    height: 0;
    top: 50%;
  }
  100%{
    height: 100vh;
    top: 0;
  }
}

@keyframes close-animation{
  0%{
    background-color: $cy-green-strong;
    height: 100vh;
    width: 100%;
    top: 0;
  }
  50%{
    background-color: $cy-green-strong;
    height: 2px;
    width: 100%;
    top: 50%;
  }
  100%{
    background-color: $cy-green-primary;
    height: 2px;
    width: 0;
    top: 50%;
  }
}
@keyframes cy-animation-display{
  0%{
    display: flex;
    z-index: 999;
  }
  100%{
    display: none !important;
    z-index: -999;
  }
}

.cy-modal__block{
  height: 100vh;
  // padding: 15px 100px;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  overflow: auto;
  will-change: opacity;
  animation: cy-animation-fade-in .5s ease-out 1.3s both;
}

@keyframes cy-animation-fade-in{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes cy-animation-fade-out{
  0%{opacity: 1;}
  100%{opacity: 0.01;}
}


.cy-modal__close{
  color: $cy-green-primary;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: cy-animation-fade-in .5s ease-out 1.3s both;
}
.cy-container-close{
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: inherit;
  will-change: opacity;
  animation: cy-animation-fade-in .5s ease-out both;
  .cy-modal__close {
    cursor: pointer;
    width: inherit;
    height: inherit;
    transform: rotate(0);
    transition: transform .2s cubic-bezier(0.83, 0.04, 0, 1.16);
  }
  .cy-modal__close:hover{
    transform: rotate(270deg);
  }
}


.cy-modal__close,.cy-modal__close:hover,.cy-modal__close:active{
  text-decoration: none;
}

.cy-footer-project{
  background-color: $cy-green-tertiary;

  a{
    display: inline-flex;
  }
}
img.cy-background-project{
  position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    height: 100vh;
    opacity: 0.15;
}
.cy-row-background{
  height: 100vh;
    display: flex;
    align-items: center;
}
.cy-col-background{
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.cy-list-resources-proyect{
  list-style: none;
  display: flex;
  li {
    padding: 10px;
    margin: 0 10px;
    background: $cy-white;
    border-radius: 20px;
    color: $cy-green-secondary;
  }
}
@media only screen and (max-width: 767px) {

    img.cy-background-project{
      height: auto;
      top: 33%;
    }


  ::-webkit-scrollbar {
    width: 0;     /* Tamaño del scroll en vertical */
    height: 0;    /* Tamaño del scroll en horizontal */
  }
  ul.cy-list-resources-proyect{
    overflow-x: scroll;
    li {
      white-space: nowrap;
    }
  }
}

.colum-team{
  display: flex;
  flex-direction: column;
}
