
<div  class="container-nav">
    <nav class="nav-bar">
        <div class="wrap">
            <div id="menu" class="menu-responsive">
                <div class="nav-logo">
                    <img src="assets/img/logo-cy.svg" alt="Logo CY">
                </div>
                <!--  -->
                <ul>
                    <li><a href="#">Casa</a></li>
                    <li><a href="#">Acercad de mi</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Portafolio</a></li>
                    <li><a href="#">Testimonios</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Cont&aacute;ctame</a></li>
                </ul>
                <div class="three-lines-menu"> &#9776;</div>
            </div>
        </div>
    </nav>
</div>


<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="image-container">
                    <img src="assets/img/charlies.png" alt="charlies image">
                </div>
            </div>
          <div class="col-12">
            
            <div class="welcome-container">
                 <div class="hello">Hola Soy</div>
                 <div class="charlies-yacniel">Charlies Yacniel</div>
                 <div class="profesion">Desarrollador/Dise&ntilde;ador de software</div>   
                 <div class="cv">
                     <button>
                         Descarga mi CV
                     </button>
                 </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->


      <div class="row">
        <div class="col-12">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus recusandae fugiat, deserunt ipsum sunt commodi porro! Corrupti quos mollitia animi hic illo adipisci? Quaerat explicabo assumenda impedit perferendis exercitationem incidunt.
        </div>
      <div class="col-12">
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus recusandae fugiat, deserunt ipsum sunt commodi porro! Corrupti quos mollitia animi hic illo adipisci? Quaerat explicabo assumenda impedit perferendis exercitationem incidunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus recusandae fugiat, deserunt ipsum sunt commodi porro! Corrupti quos mollitia animi hic illo adipisci? Quaerat explicabo assumenda impedit perferendis exercitationem incidunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus recusandae fugiat, deserunt ipsum sunt commodi porro! Corrupti quos mollitia animi hic illo adipisci? Quaerat explicabo assumenda impedit perferendis exercitationem incidunt.
      </div>
    </div>
</div>
<!-- <app-navbar></app-navbar> -->
<!-- Main container -->
<!-- Footer -->