@import '../../../assets/scss/cy-core/variables';
@import '../../../assets/scss/cy-core/utility';

@import '../../../assets/scss/cy-core/_globals';
@import '../../../assets/scss/cy-ui-kit/_buttons';

/**
		Estos estilos son para tosa la pagina
*/ 
.main-container{
	width: 100vw;
	height: 100vh;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		top:0;
		left:0;
		width: inherit;
		height: inherit;
		background-image: url('../../../assets/img/bakgroundCY.png');
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
		opacity: .1;
	}
}
// .main-container:
a{
	text-decoration: none;
}
.cy-title{// clase para los titulos
   color: $cy-green-secondary;
   font-size: $cy-font-size-titles;
}
.cy-text{//clase para los textos de los titulos
	color: $cy-green-primary;
	font-size: $cy-font-size-text;
}
.cy-title-footer{
   color: $cy-green-secondary;
   font-size: $cy-font-size-titles;
}
.cy-text-footer{
	color: $cy-white;
	font-size: $cy-font-size-text;
}

/**
		Estos estilos son para el nav bar
*/ 
.container-nav {
	background: $cy-green-tertiary;
	box-shadow: 0 0 10px $cy-green-primary;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	z-index: 999;
	
}


.menu-responsive {
	position: relative;
	height: 60px;
	z-index: 999;
	& ul {
		list-style: none;
		& li {
			float: left;
			padding: 3px;
			& a {
				display: block;
				padding: 20px;
				color:$cy-green-primary;
				text-decoration: none;
				font-weight: 700;
				&:hover {
					 background: $cy-green-strong;
					 transition-property: background-color;
					 transition-duration: 0.4s;
					 transition-timing-function: ease;
					 color:$cy-green-primary;
				  
				  }
			}
		}
	}
}


.nav-logo {
  padding: 5px 15px 0px 15px;
  img{
    width: 50px;
    height: 50px;
    page-break-after: 5px;
  }
}


.three-lines-menu {
	position: absolute;
	bottom: 10px;
	right: 10px;
	text-decoration: none;
	color: $cy-green-primary;
	font-size: 32px;
	display: none;
}




	.menu-responsive ul {
		display: none;
		padding: 0;
	}

	.menu-responsive ul li {
		float: none;
		background: $cy-green-tertiary;
		color: $cy-green-primary;
	}
	.menu-responsive ul.menu-responsive {
		display: block;
		width: 100%;
		margin-top: 0;
	}


	.three-lines-menu {
		display: block;
		cursor: pointer;
	}



/**
		Estos estilos son para el home
*/ 
	.image-container{
		display: flex;
		justify-content: center;
		img {
			width: -webkit-fill-available;
			z-index: -9;
		}
	}

	.dots-container{
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		position: relative;
		&:after{
			content: "";
			position: absolute;
			width: inherit;
			height: inherit;
			background-image: url('../../../assets/img/grid-square.svg');
			background-repeat: no-repeat;
			background-position: bottom;
			position: absolute;
			z-index: -1;
		}
	}
	
	.hello{
		color: $cy-green-primary;
		padding: 10px;
		background:$cy-green-tertiary;
		border-radius: 5px;
		position: relative;
		&:after{
			content: "";
			content: "";
			position: absolute;
			left: 5px;
			top: 35px;
			width: 0;
			height: 0;
			background: transparent;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 40px solid $cy-green-tertiary;
		}
	}
	

	.charlies-yacniel{
		font-size: 90px;
		font-family: Morganite;
	}

	.profesion{
		font-size: 21px;
		padding: 0px 0px 10px 0px;
	}
	.cv{
		padding: 0px 0px 10px 0px;
		z-index: 9;
		// button {
		// 	padding: 10px;
		// 	height: 50px;
		// 	border: 1px solid $cy-green-primary;
		// 	border-radius: 10px;
		// 	width: 200px;
		// 	color: $cy-green-strong;
		// 	background-color: $cy-green-primary;
		// }
	}

	// 
	.button-down{
		width: 40px;
		background: transparent;
		border: 1px solid $cy-green-primary;
		border-radius: 30px;
		height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;

		.arrow-down{
			width: 2px;
			height: 35px;
			background-color: $cy-green-primary;
		}
	}
/**
		Estos estilos son para el about me
*/ 
.img-charlies{
	width: 100%;
}

.phrase{
	font-style: italic;
	text-align: right;
	.text{
		font-size: $cy-font-size-sm;
		
	}
	.autor{
		font-size: $cy-font-size-xs;

	}
}
/**
		Estos estilos son para el n +1 cosas sobre mi
*/ 
//TODO incio

// Responsive
@mixin responsive() {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

$content-font: Cardo;
$heading-font: 'Roboto',sans-serif;
$timeline-width:100%;
$timeline-container-width:100%;
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: $timeline-width;
  position: relative;
  &__content {
	&__img__tag{
		position: relative;
	}
    &-title {
	  position: absolute;
	  bottom: -30px;
      font-weight: normal;
      font-size: 66px;
      margin: -10px 0 0 0;
      transition: .4s;
      padding: 0 10px;
	  box-sizing: border-box;
    //   font-family: Roboto-LightItalic;
    //   color: #fff;
    }
    &-desc {
	  margin: 0;
	  padding-top:10px;
      font-size: 15px;
      box-sizing: border-box;
    //   color: rgba(#fff, .7);
    //   font-family: $content-font;
      font-weight: normal;
      line-height: 25px;
    }
  }
  &:before {
	content: "";
    position: absolute;
    left: 50%;
    width: 3px;
    height: 100%;
	margin-left: -1px;
	opacity: .1;
    background-color:$cy-green-primary;
    @include responsive() {
      left: 40px;
    }
  }
  &-item {
    padding: 40px 0;
    // opacity: .3;
    // filter: blur(2px);
    transition: .5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
    &:before {
      content: attr(data-text);
      letter-spacing: 3px;
      width: 100%;
      position: absolute;
      color: $cy-white;
      font-size: 13px;
    //   font-family: $heading-font;
      border-left: 2px solid $cy-green-secondary;
      top: 70%;
      margin-top: -5px;
      padding-left: 15px;
    //   opacity: 0;
      right: calc(-100% - 56px);
    }
    &:nth-child(even) {
      align-self: flex-end;
      &:before {
        right: auto;
        text-align: right;
        left: calc(-100% - 56px);
        padding-left: 0;
        border-left: none;
        border-right: 2px solid $cy-green-secondary;
        padding-right: 15px;
      }
    }
    &--active {
    //   opacity: 1;
      transform: translateY(0);
      filter: blur(0px);
      &:before {
        top: 50%;
        transition: .3s all .2s;
        // opacity: 1;
      }
      .timeline__content-title {
        margin: -50px 0 20px 0;
      }
    }
    @include responsive() {
      align-self: baseline !important;
      width: 100%;
      padding: 0 0 150px 80px;
      &:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
      }
      &:last-child {
        padding-bottom: 40px;
      }
    }
  }
  &__img {
	 
    max-width: 100%;
    // box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
	box-shadow: -5px 5px 10px rgba(147, 234, 30, 0.14);
	border-radius: $cy-border-radius-5 / 2;
  }
  &-container {
    width: $timeline-container-width;
    position: relative;
    padding: 80px 0;
    transition: .3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
    // &:before {
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: rgba(99, 99, 99, 0.8);
    //   content: "";
    // }
  }
//   &-header {
//     width: 100%;
//     text-align: center;
//     margin-bottom: 80px;
//     position: relative;
//     &__title {
//       color: #fff;
//       font-size: 46px;
//       font-family: $content-font;
//       font-weight: normal;
//       margin: 0;
//     }
//     &__subtitle {
//       color: rgba(255, 255, 255, .5);
//       font-family: $heading-font;
//       font-size: 16px;
//       letter-spacing: 5px;
//       margin: 10px 0 0 0;
//       font-weight: normal;
//     }
//   }
}

//TODO fin

/**
		Estos estilos son para skill
*/ 
.cy-proyects{
	// display: grid;
	height: 400px;
	background: url('../../../assets/img/proyects-font.png') ,radial-gradient($cy-green-strong,$cy-black);
	background-size: cover;
    background-repeat: no-repeat;
	& .cy-proyect-item{
		width: 150px;
		height: 150px;
		margin: 0 auto;
		background-color:$cy-green-tertiary;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		border: 1px dashed $cy-green-primary;
		color: $cy-green-primary;
		transition: all .2s ease-in;
		& .cy-proyect-title{
			font-size: $cy-font-size-xl;
			color: $cy-white;
			// &:hover{
			// 	color: $cy-green-strong;
			// }
		}
		& .cy-proyect-subtitle{
			font-size: $cy-font-size-md;
		}
		&:hover{
			& .cy-proyect-title{
				color: $cy-green-strong;	
			}
			color: $cy-green-strong;
			background-color:$cy-green-secondary;
			border: 1px dashed $cy-green-secondary;
		}
	}
}
/**
		Estos estilos para los tstimonio
*/ 

.title {
	margin: 2em 0 0;
	text-align: center;
}
.title h4 {
	font-size: 1.8em;
}
.slideshow {
    margin: 0;
    max-width: 1000px;
    min-width: 260px;
    position: relative;
	width: fit-content;
	min-height: 300px;
	height: 350px;
	padding-top: 50px;
   & .content {
		height: 100%;
		width: 100%;
		// overflow: hidden;// si habilito esto puedo dejar de ver los comentrioa ala par
		position: relative;

		& .cy-testimonial-image{
			position: absolute;
			top: -50px;
			width: 100px;
			height: 100px;
			border-radius: $cy-border-radius-circle;
		}
		& .cy-testimonial-card{
			display: flex;
			flex-direction: column;
			align-items: center;
			border-radius: 5px;
			padding-top: 50px;
			margin-left: 10px;
			margin-right: 10px;
			height: 210px;
		}
		
		& .cy-testimonial-name{
			color: $cy-green-primary;
		}
		& .cy-testimonial-name{
			color: $cy-green-primary;
		}
		& .cy-testimonial-network{
			color: $cy-green-secondary;
		}
		& .cy-testimonial-credit{
			color: $cy-green-primary;
			margin: 0 auto;
			padding: 0 20px;
			text-align: justify;
			font-size: 12px;		
		}
	}
	& input {
		    bottom: 15px;
		    cursor: pointer;
		    height: 9px;
		    left: 50%;
		    opacity: 0;
		    position: absolute;
		    width: 9px;
		    z-index: 1001;
		}
	& input + label {
		// border: 3px solid #000;
		border: 3px solid $cy-green-primary;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		bottom: 15px;
		display: block;
		height: 6px;
		left: 50%;
		position: absolute;
		-webkit-transition: background-color linear 0.1s;
		-moz-transition: background-color linear 0.1s;
		transition: background-color linear 0.1s;
		width: 6px;
		z-index: 1000;
	}
	& input:checked + label {
		background-color: $cy-green-primary;
	}
}
.parallax-bg {
    background: url('../../../assets/img/bakgroundCY.png') repeat scroll 0 0;
    background-size: cover;
    opacity: .1;
    filter: alpha(opacity=10);
    left: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.selector-1, .button-label-1 {
    margin-left: -36px;
}
.selector-2, .button-label-2 {
    margin-left: -18px;
}
.selector-4, .button-label-4 {
    margin-left: 18px;
}
.selector-5, .button-label-5 {
    margin-left: 36px;
}
.arrow{
	// &:nth-child(n){
		background: transparent url('../../../assets/img/arrow-left.png') no-repeat;
	// }
	&:nth-child(2n){
		background: transparent url('../../../assets/img/arrow-right.png') no-repeat !important;
	}
    cursor: pointer;
    display: none;
    height: 55px;
    // margin-top: -19px;
    opacity: .9;
    position: absolute;
    top: 40%;
    -webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    transition: all linear 0.3s;
    width: 28px;
	z-index: 1000;
	&:hover{
		color: $cy-green-primary;
		opacity: 1;
	}
	&:active{
		color: $cy-green-tertiary;
		margin-top: -18px;
	}
}

.selector-1:checked ~ .arrow.a2,
.selector-2:checked ~ .arrow.a3,
.selector-3:checked ~ .arrow.a4,
.selector-4:checked ~ .arrow.a5 {
    // background-position: top right;
    display: block;
    right: -15px;
}
.selector-2:checked ~ .arrow.a1,
.selector-3:checked ~ .arrow.a2,
.selector-4:checked ~ .arrow.a3,
.selector-5:checked ~ .arrow.a4 {
	// background-position: top left;
	display: block;
	left: -15px;
	transform: rotate(180deg);
}
.slideshow input:checked ~ .content {
    background-color: transparent;
	-webkit-transition: background-position linear 0.6s, background-color linear 0.8s;
	-moz-transition: background-position linear 0.6s, background-color linear 0.8s;
	transition: background-position linear 0.6s, background-color linear 0.8s;
}
.slideshow input:checked ~ .content .parallax-bg {
	-webkit-transition: background-position linear 0.7s;
	-moz-transition: background-position linear 0.7s;
	transition: background-position linear 0.7s;
}
input.selector-1:checked ~ .content {
    background-position: 0 0;
}
input.selector-2:checked ~ .content {
    background-position: -100px 0;
}
input.selector-3:checked ~ .content {
    background-position: -200px 0;
}
input.selector-4:checked ~ .content {
    background-position: -300px 0;
}
input.selector-5:checked ~ .content {
    background-position: -400px 0;
}
input.selector-1:checked ~ .content .parallax-bg {
	background-position: 0 0;
}
input.selector-2:checked ~ .content .parallax-bg {
	background-position: -200px 0;
}
input.selector-3:checked ~ .content .parallax-bg {
	background-position: -400px 0;
}
input.selector-4:checked ~ .content .parallax-bg {
	background-position: -600px 0;
}
input.selector-5:checked ~ .content .parallax-bg {
    background-position: -800px 0;
}
.slider {
    height: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transition: left ease-in 0.8s;
    -moz-transition: left ease-in 0.8s;
    transition: left ease-in 0.8s;
	width: 500%;
	& > li {
		&:nth-child(n) .slider-content .cy-testimonial-card{
			background-color: $cy-green-tertiary;
			& .cy-testimonial-credit{
				color: $cy-white;
			}
		}
		&:nth-child(2n) .slider-content .cy-testimonial-card{
			background-color: $cy-green-strong;
			& .cy-testimonial-credit{
				color: $cy-green-secondary;
			}
		}
		box-sizing: border-box;
		// color: #fff;
		// background-color: $cy-green-strong;
		display: table;
		float: left;
		height: 100%;
		opacity: 0.4;
		-webkit-transition: opacity ease-in 0.4s 0.8s;
		-moz-transition: opacity ease-in 0.4s 0.8s;
		transition: opacity ease-in 0.4s 0.8s;
		width: 20%;
	}
	& > li img {
		box-sizing: border-box;
		display: inline-block;
		max-height: 100%;
		max-width: 100%;
		vertical-align: middle;
	}
}


input.selector-1:checked ~ .content .slider {
    left: 0;
}
input.selector-2:checked ~ .content .slider {
    left: -100%;
}
input.selector-3:checked ~ .content .slider {
    left: -200%;
}
input.selector-4:checked ~ .content .slider {
    left: -300%;
}
input.selector-5:checked ~ .content .slider {
    left: -400%;
}
input.selector-1:checked ~ .content .slider > li:first-child,
input.selector-2:checked ~ .content .slider > li:nth-child(2),
input.selector-3:checked ~ .content .slider > li:nth-child(3),
input.selector-4:checked ~ .content .slider > li:nth-child(4),
input.selector-5:checked ~ .content .slider > li:nth-child(5){
    opacity: 1;
}

/* media query*/
@media (max-width: 680px) {
	.slider > li > .slider-content {
		height: 100%;
		position: relative;
		padding-top: 50px;
		margin: 0 15px;
	}
	.slideshow {
		& .content{
			overflow: hidden;
		}
		& .cy-testimonial-image{
			top: 0px !important;
		}
		& .cy-testimonial-card{
			height: 250px !important;
		}
	}
}


.cy-container-contac-me{
	width: 100%;
	height: 100%;
	position: relative;
	padding: 70px 0px;
	&::after{
		content: "";
		opacity: .4;
		z-index: -9;
		width: inherit;
		height: inherit;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url('../../../assets/img/cy-background-contactme.png') ;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

/**
		Estos estilos son para footer
*/ 
.footer {
	background-color: $cy-green-strong;

}
.contact-container{}
.contact-item{
	display: flex;
	align-items: center;
	margin-top:10px;
}
.contact-icon{
    width: 40px;
    height: 40px;
    background: $cy-green-tertiary;
	border-radius: $cy-border-radius-circle;
    text-align: center;
    margin: 0 10px 0 10px;
}

.contact-tag-name{
	color: $cy-green-primary;
	font-size: $cy-font-size-sm;
	font-weight: $font-weight-200;
	font-family: Roboto-Light;
  
}
.contact-tag-value{
	font-size: $cy-font-size-md;
	font-family: Roboto-Regular;
}
.network-icon{
	padding: 0px 20px 0px 20px;
	
}

.cy-form{

}
.cy-form-group{
	// width: 100%;
}
.cy-form-row{
	padding-top:15px;
}
.cy-form-control {
	width: -webkit-fill-available;
	height: 30px;
	display: block;
	padding: 10px;
	// font-weight: $input-font-weight;
	// line-height: $input-line-height;
	color: $cy-green-primary;
	background-color: transparent;
	background-clip: padding-box;
	border: 1px solid $cy-green-primary;
	border-radius: $cy-border-radius-10;
  
	// Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  
	// Unstyle the caret on `<select>`s in IE10+.
	&::-ms-expand {
	  background-color: transparent;
	  border: 0;
	}
	// Placeholder
	&::placeholder {
	  color:  #ffffff82;
	  opacity: 1;
	}
  
	&:disabled,
	&[readonly] {
	  background-color: grey;
	  opacity: 1;
	}
	
}

select.cy-form-control {
  &:focus::-ms-value {
    
    color: red;
    background-color: green;
  }
}

// Make file inputs better match text inputs by forcing them to new lines.
.cy-form-control-file,
.cy-form-control-range {
  display: block;
  width: 100%;
}


//
// Labels
//

// For use with horizontal and inline forms, when you need the label (or legend)
// text to align with the form controls.
.cy-col-form-label {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0; // Override the `<label>/<legend>` default
//   line-height: $input-line-height;
}


.cy-copyright{
	font-size: $cy-font-size-sm;
	// font-family: Roboto-Regular;
}