
<div class="container-nav">
    <div id="menu" class="menu-responsive">
        <div class="nav-logo">
            <img src="assets/img/logo-cy.svg" alt="Logo CY">
        </div>
        <div class="three-lines-menu"> &#9776;</div>
        <ul>
            <li><a href="#">Casa</a></li>
            <li><a href="#">Acercad de mi</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Portafolio</a></li>
            <li><a href="#">Testimonios</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Cont&aacute;ctame</a></li>
        </ul>
    </div>
</div>

<div class="main-container">
    <div class="cy-container">
        <!--  -->
        <div class="cy-row">
            <div class="cy-col-6 cy-col-12-sm">
                <div class="image-container">
                    <img src="assets/img/charlies.png" alt="charlies image">
                </div>
            </div>
          <div class="cy-col-6 cy-col-12-sm">
            <div class="dots-container">
                 <div class="hello center">Hola Soy</div>
                 <div class="charlies-yacniel center">Charlies Yacniel</div>
                 <div class="profesion center">Desarrollador/Dise&ntilde;ador de software</div>   
                 <div class="cv"><button>Descarga mi CV</button></div>
                 <a href="#">
                        <div class="button-down">
                            <div class="arrow-down"></div>
                        </div>
                    </a>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="cy-row">
            <div class="cy-col-6 cy-col-12-sm">
                <h3 class="cy-title center">Acerca de mi</h3>
                <p class="cy-text justify">
                    Soy Ingeniero/Dis&ntilde;ador de software habitante de la ciudad de Tegucigalpa, Honduras. Me siento muy c&oacute;modo combinado c&oacute;digos y n&uacute;meros para vivir, soy programador por hobby, desarrollador de software por ocupaci&oacute;n ,apasionado de los cubos de rubik y el camping , memero ,disl&eacute;xico, coffee lover, oveja negra y n&oacute;mada por excelencia.
                </p>
            </div>
            <div class="cy-col-6 cy-col-12-sm">
                <div class="img-container">
                    <img class="img-charlies"src="assets/img/image-charlies.jpg" alt="image charlies">
                </div>
                <div class="phrase">
                    <div class="text">“Pap&aacute; ,voy a estudiar computaci&oacute;n”</div>
                    <div class="autor">Charlies Yacniel</div>
                </div>
            </div>
            <div class="cy-col-12">
                <h3 class="cy-title center">Me gusta ...</h3>
                <p class="cy-text justify">
                    Me gusta transformar problemas complejos en soluciones simples usando soluciones hermosas e intuitivas ,cuando el problema radica en el aspecto visual.Cuando no estoy lanzando lineas de codigo, aprendiendo algo nuevo, empujando píxeles o fortaleciendo mis cuadritos, me  puedes encontrar armando el cubo de rubik.
                </p>
            </div>
        </div>
        <!--  -->
        <div class="cy-row">
            <div class="cy-col-12">
                <h3 class="cy-title center"> ( N + 1 ) Cosas sobre mi</h3>
                <!-- TODO incio -->

                <div class="timeline-container" id="timeline-1">
                    <div class="timeline">
                     <!--  -->
                      <div class="timeline-item" data-text="FATHER OF THE TURKS">
                        <div class="timeline__content"><img class="timeline__img" src="assets/img/foto1.jpg"/>
                          <h2 class="timeline__content-title">1881</h2>
                          <p class="timeline__content-desc">He was born in 1881 (probably in the spring) in Salonica, then an Ottoman city, now inGreece. His father Ali Riza, a customs official turned lumber merchant, died when Mustafawas still a boy. His mother Zubeyde, adevout and strong-willed woman, raised him and his sister.</p>
                        </div>
                      </div>
                      <!--  -->
                      <div class="timeline-item" data-text="FATHER OF THE TURKS">
                        <div class="timeline__content"><img class="timeline__img" src="assets/img/foto2.jpg"/>
                          <h2 class="timeline__content-title">1893</h2>
                          <p class="timeline__content-desc">First enrolled in a traditionalreligious school, he soon switched to a modern school. In 1893, he entered a military highschool where his mathematics teacher gave him the second name Kemal (meaning perfection)in recognition of young Mustafa's superior achievement.</p>
                        </div>
                      </div>
                      <!--  -->
                      <div class="timeline-item" data-text="FATHER OF THE TURKS">
                        <div class="timeline__content"><img class="timeline__img" src="assets/img/foto3.jpg"/>
                          <h2 class="timeline__content-title">1905</h2>
                          <p class="timeline__content-desc">In 1905, Mustafa Kemal graduated from the War Academy in Istanbul with the rank of Staff Captain. Posted in Damascus, he started with several colleagues, a clandestinesociety called "Homeland and Freedom" to fight against the Sultan'sdespotism.</p>
                        </div>
                      </div>
                      <!--  -->
                      <div class="timeline-item" data-text="FATHER OF THE TURKS">
                        <div class="timeline__content"><img class="timeline__img" src="assets/img/foto4.jpg"/>
                          <h2 class="timeline__content-title">1908</h2>
                          <p class="timeline__content-desc">In 1908 he helped the group of officers who toppled the Sultan. Mustafa Kemal'scareer flourished as he won his heroism in the far corners of the Ottoman Empire,including Albania and Tripoli. He also briefly served as a staff officer in Salonica andIstanbul and as a military attache in Sofia.</p>
                        </div>
                      </div>
                      <!--  -->
                      <div class="timeline-item" data-text="FATHER OF THE TURKS">
                        <div class="timeline__content"><img class="timeline__img" src="assets/img/foto5.jpg"/>
                          <h2 class="timeline__content-title">1915</h2>
                          <p class="timeline__content-desc">In 1915, when Dardanelles campaign was launched, Colonel Mustafa Kemal became anational hero by winning successive victories and finally repelling the invaders.</p>
                        </div>
                      </div>
                      <!--  -->
                      <div class="timeline-item" data-text="FATHER OF THE TURKS">
                        <div class="timeline__content"><img class="timeline__img" src="assets/img/foto6.png"/>
                          <h2 class="timeline__content-title">1916</h2>
                          <p class="timeline__content-desc">Promotedto general in 1916, at age 35, he liberated two major provinces in eastern Turkey thatyear. In the next two years, he served as commander of several Ottoman armies inPalestine, Aleppo, and elsewhere, achieving another major victory by stopping the enemyadvance at Aleppo.</p>
                        </div>
                      </div>
                      <!--  -->
                      <!-- <div class="timeline-item" data-text="FATHER OF THE TURKS">
                        <div class="timeline__content"><img class="timeline__img" src="http://manisanokta.com/wp-content/uploads/2014/07/ataturk-20.jpg"/>
                          <h2 class="timeline__content-title">1919</h2>
                          <p class="timeline__content-desc">On May 19, 1919, Mustafa Kemal Pasha landed in the Black Sea port of Samsun to startthe War of Independence. In defiance of the Sultan's government, he rallied a liberationarmy in Anatolia and convened the Congress of Erzurum and Sivas which established thebasis for the new national effort under his leadership.</p>
                        </div>
                      </div> -->
                      <!--  -->
                      <!-- <div class="timeline-item" data-text="FATHER OF THE TURKS">
                        <div class="timeline__content"><img class="timeline__img" src="http://www.volpeypir.com/upload/3732.jpg"/>
                          <h2 class="timeline__content-title">1920</h2>
                          <p class="timeline__content-desc">
                            On April 23, 1920, the GrandNational Assembly was inaugurated. Mustafa Kemal Pasha was elected to its Presidency.
                            Fighting on many fronts, he led his forces to victory against rebels and invadingarmies. Following the Turkish triumph at the two major battles at Inonu in Western Turkey,the Grand National Assembly conferred on Mustafa Kemal Pasha the title ofCommander-in-Chief with the rank of Marshal.
                          </p>
                        </div>
                      </div> -->
                      <!--  -->
                      <!-- <div class="timeline-item" data-text="FATHER OF THE TURKS">
                        <div class="timeline__content"><img class="timeline__img" src="http://sanatkaravani.com/wp-content/uploads/2015/11/ataturk-4.jpg"/>
                          <h2 class="timeline__content-title">1922</h2>
                          <p class="timeline__content-desc">At the end of August 1922, the Turkish armieswon their ultimate victory. Within a few weeks, the Turkish mainland was completelyliberated, the armistice signed, and the rule of the Ottoman dynasty abolished</p>
                        </div>
                      </div> -->
                      <!--  -->
                      <!-- <div class="timeline-item" data-text="FATHER OF THE TURKS">
                        <div class="timeline__content"><img class="timeline__img" src="https://turkcetarih.com/wp-content/uploads/2015/05/Atat%C3%BCrkveCumhuriyet.jpg"/>
                          <h2 class="timeline__content-title">1923</h2>
                          <p class="timeline__content-desc">In July 1923, the national government signed the Lausanne Treaty with Great Britain,France, Greece, Italy, and others. In mid-October, Ankara became the capital of the new Turkish State. On October 29, the Republic was proclaimed and Mustafa Kemal Pasha wasunanimously elected President of the Republic.</p>
                        </div>
                      </div> -->
                      <!--  -->
                      <!-- <div class="timeline-item" data-text="FATHER OF THE TURKS">
                        <div class="timeline__content"><img class="timeline__img" src="https://pbs.twimg.com/media/Cw69H8pXUAEaSqa.jpg"/>
                          <h2 class="timeline__content-title">1934</h2>
                          <p class="timeline__content-desc">
                            The account of Atatürk's fifteen year Presidency is a saga of dramatic modernization.With indefatigable determination, he created a new political and legal system, abolished the Caliphate and made both government and education secular, gave equal rights to women,changed the alphabet and the attire, and advanced the arts and the sciences, agricultureand industry.
                            In 1934, when the surname law was adopted, the national parliament gave him the name<i><strong>"Atatürk" (Father of the Turks)</strong></i>
                          </p>
                        </div>
                      </div> -->
                      <!--  -->
                      <!-- <div class="timeline-item" data-text="FATHER OF THE TURKS">
                        <div class="timeline__content"><img class="timeline__img" src="http://www.bik.gov.tr/wp-content/uploads/2016/11/20161110_2_20037273_15856882.jpg?fit=1024%2C863"/>
                          <h2 class="timeline__content-title">1938</h2>
                          <p class="timeline__content-desc">On November 10, 1938, following an illness of a few months, the national liberator and the Father of modern Turkey died. But his legacy to his people and to the world endures.</p>
                        </div>
                      </div> -->
                      <!--  -->
                    </div>
                  </div>
                <!-- TODO fin -->
            </div>
        </div>
        <!--  -->
        <div class="cy-row">
            <div class="cy-col-12">
                <h3 class="cy-title center"> Skills</h3>
                <p class="cy-text justify">
                    Enfocado en crear productos novedosos con nuevas tendencias en el &aacute;mbito tecnol&oacute;gico.
                </p>
            </div>
            <div class="cy-col-12">
                <p class="cy-text justify">
                    aqui van los porcentajes
                </p>
            </div>
            <div class="cy-col-12">
                <p class="cy-text justify">
                    aqui van los proyectos
                </p>
            </div>
        </div>
        <!--  -->
        <div class="cy-row">
            <div class="cy-col-12">
                <h3 class="cy-title center"> Portafolio</h3>
                <p class="cy-text justify">
                    Visualiza cada proyecto llevado a cabo en la trayectoria como profesional de la tecnolog&iacute;a.
                </p>
            </div>
            <div class="cy-col-12">
                <p class="cy-text justify">
                    aqui van suffle
                </p>
            </div>
        </div>
        <!--  -->
        <div class="cy-row">
            <div class="cy-col-12">
                <h3 class="cy-title center"> Se dice de mi</h3>
                <p class="cy-text justify">
                    Conoce de primera mano los testimonios de las personas mas allegadas a m&iacute;. 
                </p>
            </div>
            <div class="cy-col-12">
                <div class="dots-container">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe provident tempore, optio quaerat reprehenderit maxime voluptatum. Ex est vitae reprehenderit, nemo iusto cupiditate commodi facere? Dolorem sed voluptates ipsam iusto.
               </div>
            </div>
            <div class="cy-col-12">
                <p class="cy-text justify">
                    aqui va la imagen que toen el boton de contacto
                </p>
            </div>
        </div>
        <!--  -->
        <div class="cy-row">
            <div class="cy-col-12">
                <h3 class="cy-title center"> Blog</h3>
                <p class="cy-text justify">
                    Conoce las ultimas noticias publicadas en el blog, en el encontrar&aacute;s noticias de ultimo momento relacionadas con la tecnolog&iacute;a
                </p>
            </div>
            <div class="cy-col-12">
                <p class="cy-text justify">
                    aqui van las noticisa del blog
                </p>
            </div>
        </div>
        <!-- fin container -->
      </div>

      <!-- Footer -->
      <footer class="footer">
       <div class="cy-container">
           <div class="cy-row">
             <div class="cy-col-6 cy-col-12-sm">
                 <h3 class="cy-title-footer ">Contacto</h3>
                 <p class="cy-text-footer ">
                     Toma algo de tiempo ,escribe e inmediatamente estar&eacute; en contacto contigo.
                 </p>
                 <div class="contact-container">
                     <div class="contact-item">
                         <div class="contact-icon center-flex">
                             <img src="assets/img/phone.svg" alt="contact-icon">
                         </div>
                         <div class="contac-tag">
                             <div class="contact-tag-name">Celular</div>
                             <div class="contact-tag-value">+504 9578-2412</div>
                         </div> 
                     </div>
                     <!--  -->
                     <div class="contact-item">
                        <div class="contact-icon center-flex">
                            <img src="assets/img/email.svg" alt="contact-icon">
                        </div>
                        <div class="contac-tag">
                            <div class="contact-tag-name">E-mail</div>
                            <div class="contact-tag-value">holamundo@charlyes.com</div>
                        </div> 
                    </div>
                    <!--  -->
                    <div class="contact-item">
                        <div class="contact-icon center-flex">
                            <img src="assets/img/location.svg" alt="contact-icon">
                        </div>
                        <div class="contac-tag">
                            <div class="contact-tag-name">Domicilio</div>
                            <div class="contact-tag-value">Tegucigalpa M.D.C. Francisco Moraz&aacute;n, Honduras.</div>
                        </div> 
                    </div>
                    <!--  -->
                    <div class="">
                            <h3 class="cy-title center">Encu&eacute;ntrame</h3>
                            <div class="center-flex">
                                <span class="network-icon"><img src="assets/img/email.svg" alt="network-icon"></span>
                                <span class="network-icon"><img src="assets/img/email.svg" alt="network-icon"></span>
                                <span class="network-icon"><img src="assets/img/email.svg" alt="network-icon"></span>   
                            </div>
                    </div>
                 </div>
             </div>
             <!--  -->
             <div class="cy-col-6 cy-col-12-sm">
                 <h3 class="cy-title ">Escribeme</h3>

                 <form action="" class="cy-form" method="post">
                     <div class="cy-form-group">
                        <div class="cy-form-row " >
                            <label for="name">Nombre</label>
                            <input  class="cy-form-control" type="text" name="name" id="name" placeholder="Escribe tu nombre">
                        </div>
                        <div class="cy-form-row">
                            <label for="email">Email</label>
                            <input class="cy-form-control" type="email" name="email" id="email" placeholder="ej: holamundo@charlyes.com">
                        </div>
                        <div class="cy-form-row">
                            <label for="phone">Telefono</label>
                            <input class="cy-form-control" type="number" name="phone" id="phone" placeholder="Deja tu numero de telefono">
                        </div>
                        <div class="cy-form-row">
                            <label for="pre">Presupuesto</label>
                            <input class="cy-form-control" type="number" name="pre" id="pre" placeholder="Indica presupuesto">
                        </div>
                        <div class="cy-form-row">
                            <label for="message">Mensaje</label>
                            <textarea class="cy-form-control" name="message" id="message" cols="30" rows="30" placeholder="Escribeme tu mensaje"></textarea>
                        </div>
                        <div class="cy-form-row">
                            <input class="cy-form-control" type="submit" value="Enviar">
                        </div>
                        <div class="cy-form-row">
                            <div class="center-flex">
                                <img src="assets/img/logo-cy.svg" alt="Logo CY">
                            </div>
                        </div>
                     </div>
                 </form>
                </div>
                <p class="cy-copyright center">Copyright ©2020 CharliesYacniel. Todos los derechos reservados</p>
           </div>
       </div>
      </footer>
</div>

