
// grid
// $width: 96%;
// $gutter: 4%;
// $breakpoint-small: 33.75em; // 540px
// $breakpoint-med: 45em; // 720px
// $breakpoint-large: 60em; // 960px
@import 'variables';
.cy-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 80%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 75%;
    max-width: 60rem;
  }
}

.cy-row {
  position: relative;
  width: 100%;
}

@media only screen and (min-width: $breakpoint-small) {
  .cy-flex{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.cy-row [class^="cy-col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.cy-row::after {
  content: "";
  display: table;
  clear: both;
}

.cy-col-1,
.cy-col-2,
.cy-col-3,
.cy-col-4,
.cy-col-5,
.cy-col-6,
.cy-col-7,
.cy-col-8,
.cy-col-9,
.cy-col-10,
.cy-col-11,
.cy-col-12 {
  width: $width;
}

.cy-col-1-sm { width:($width / 12) - ($gutter * 11 / 12); }
.cy-col-2-sm { width: ($width / 6) - ($gutter * 10 / 12); }
.cy-col-3-sm { width: ($width / 4) - ($gutter * 9 / 12); }
.cy-col-4-sm { width: ($width / 3) - ($gutter * 8 / 12); }
.cy-col-5-sm { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
.cy-col-6-sm { width: ($width / 2) - ($gutter * 6 / 12); }
.cy-col-7-sm { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
.cy-col-8-sm { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
.cy-col-9-sm { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
.cy-col-10-sm { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
.cy-col-11-sm { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
.cy-col-12-sm { width: $width; }

@media only screen and (min-width: $breakpoint-med) {
  .cy-col-1 { width:($width / 12) - ($gutter * 11 / 12); }
  .cy-col-2 { width: ($width / 6) - ($gutter * 10 / 12); }
  .cy-col-3 { width: ($width / 4) - ($gutter * 9 / 12); }
  .cy-col-4 { width: ($width / 3) - ($gutter * 8 / 12); }
  .cy-col-5 { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
  .cy-col-6 { width: ($width / 2) - ($gutter * 6 / 12); }
  .cy-col-7 { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
  .cy-col-8 { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
  .cy-col-9 { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
  .cy-col-10 { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
  .cy-col-11 { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
  .cy-col-12 { width: $width; }

  .hidden-sm {
    display: block;
  }
}
