
// utility
.left {text-align: left;}

.right {text-align: right;}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {text-align: justify;}

.hidden-sm { display: none;}

.center-flex{
  display: flex;
  align-items: center;
  justify-content: center; 
}
.flex-colunm{
  flex-direction: column;
}
.padding-top-10{padding-top: 10px;}
.padding-top-20{padding-top: 20px;}
.padding-top-30{padding-top: 30px;}
// ================================
.margin-top-10{padding-top: 10px;}
.margin-top-20{padding-top: 20px;}
.margin-top-30{padding-top: 30px;}

.cy-font-size-xl{font-size:$cy-font-size-xl !important;}
.cy-font-size-lg{font-size:$cy-font-size-lg !important;}
.cy-font-size-md{font-size:$cy-font-size-md !important;}
.cy-font-size-sm{font-size:$cy-font-size-sm !important;}
.cy-font-size-xs{font-size:$cy-font-size-xs !important;}

.cy-color-primary{color:$cy-green-primary !important;}
.cy-color-secondary{color:$cy-green-secondary !important;}
.cy-color-tertiary{color:$cy-green-tertiary !important;}
.cy-color-strong{color:$cy-green-strong !important;}
.cy-color-white{color:$cy-white !important;}
.cy-color-black{color:$cy-black !important;}

.cy-title{// clase para los titulos
    color: $cy-green-secondary;
    font-size: $cy-font-size-titles;
 }
 .cy-text{//clase para los textos de los titulos
     color: $cy-green-primary;
     font-size: $cy-font-size-text;
 }
 .cy-title-footer{
    color: $cy-green-secondary;
    font-size: $cy-font-size-titles;
 }
 .cy-text-footer{
     color: $cy-white;
     font-size: $cy-font-size-text;
 }