$cy-green-primary:#93ea20;
$cy-green-secondary:#3cb147;
$cy-green-tertiary:#004550;
$cy-green-strong:#212258;

$cy-white:white;
$cy-black:black;
$cy-black-font:#030506;


$border-radius-sm:10px;
$border-radius-lg:20px;
$border-radius-50:50%;