$cy-green-primary:#93ea20;
$cy-green-secondary:#3cb147;
$cy-green-tertiary:#004550;
$cy-green-strong:#212258;

$cy-white:white;
$cy-black:black;
$cy-black-font:#030506;
$cy-grey-disabled:#93ea1e33;


$cy-border-radius-circle:50%;
$cy-border-radius-5:5px;
$cy-border-radius-10:10px;
$cy-border-radius-20:20px;
$cy-border-radius-30:30px;

// SIMPLE GRID - SASS/SCSS


// fonts
$cy-font-size-titles:20px;
$cy-font-size-text:15px;

$font-weight-100:100;
$font-weight-200:200;
$font-weight-300:300;
$font-weight-400:400;
$font-weight-500:500;

$cy-font-size-xl:20px;
$cy-font-size-lg:18px;
$cy-font-size-md:16px;
$cy-font-size-sm:14px;
$cy-font-size-xs:12px;

$font-height: 1.5;


// colors
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans



// grid
$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px
