$cy-green-primary:#93ea20;
$cy-green-secondary:#3cb147;
$cy-green-tertiary:#004550;
$cy-green-strong:#212258;

$cy-white:white;
$cy-black:black;
$cy-black-font:#030506;


$border-radius-sm:10px;
$border-radius-lg:20px;
$border-radius-circle:50%;
$border-radius-10:10px;
$border-radius-20:20px;
$border-radius-30:30px;

// SIMPLE GRID - SASS/SCSS


// fonts
$font-size-titles:20px;
$font-size-text:15px;

$font-weight-100:100;
$font-weight-200:200;
$font-weight-300:300;
$font-weight-400:400;
$font-weight-500:500;

$font-size-xl:20px;
$font-size-lg:18px;
$font-size-md:16px;
$font-size-sm:14px;
$font-size-xs:12px;

$font-height: 1.5;


// colors
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans