/* You can add global styles to this file, and also import other style files */

@import 'assets/scss/cy-core/_grid';
@import 'assets/scss/cy-core/_variables';

body {
    // font-family: Roboto, Verdana, Arial, sans-serif;
    font-family: Roboto-Regular, Verdana, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
	background: $cy-black-font ;
    color: $cy-white;
    line-height: $font-height;
    overflow-x: hidden; 
}

.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    // align-content: center;
}
.flex-colunm{
    flex-direction: column;
}
.padding-top-10{padding-top: 10px;}
.padding-top-20{padding-top: 20px;}
.padding-top-30{padding-top: 30px;}
// ================================
.margin-top-10{padding-top: 10px;}
.margin-top-20{padding-top: 20px;}
.margin-top-30{padding-top: 30px;}

.cy-color-primary{color:$cy-green-primary !important;}
.cy-color-secondary{color:$cy-green-secondary !important;}
.cy-color-tertiary{color:$cy-green-tertiary !important;}
.cy-color-strong{color:$cy-green-strong !important;}
.cy-color-white{color:$cy-white !important;}
.cy-color-black{color:$cy-black !important;}


::-webkit-scrollbar {
    width: 10px;     /* Tamaño del scroll en vertical */
    height: 10px;    /* Tamaño del scroll en horizontal */
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
::-webkit-scrollbar-thumb {
    background: $cy-green-primary;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    background: #3cb147;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
    background-color: $cy-green-primary;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
::-webkit-scrollbar-track {
    background: $cy-green-tertiary;
/*     border-radius: 4px; */
}

/* Cambiamos el fondo cuando esté en active o hover */
::-webkit-scrollbar-track:hover {
/*   background: transparent; */
}
::-webkit-scrollbar-track:active{
  background: transparent ;
}